<div class="nav">
    <div class="container">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
        <div class="nav-list">
            {{#foreach navigation}}
                <a href="{{url absolute="true"}}">{{label}}</a>
            {{/foreach}}
            <div class="menu-icon icon-menu"></div>
        </div>
    </div>
</div>
<span class="nav-cover"></span>
