<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.min.css"}}" />
    <script type="text/javascript" src="{{asset "dist/modernizr.custom.js"}}"></script>
    <script type="text/javascript" src="{{asset "dist/snap.svg-min.js"}}"></script>
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}} nav-closed">

    {{navigation}}
    <div class="site-wrapper">

        {{! Everything else gets inserted here }}
        {{{body}}}
        
        
        <footer class="site-footer clearfix">
            <div class="container">
                <div class="link-wrap">
                    <div class="link-item">
                        <h4>Navigation</h4>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="https://www.behance.net/codeui">Design</a></li>
                            <li><a href="http://www.jackpu.com/tag/web/">Web</a></li>
                        </ul>
                    </div>
                    <div class="link-item">
                        <h4>Resources</h4>
                        <ul>
                            <li><a href="http://designmodo.com/">Designmodo</a></li>
                            <li><a href="http://tutorials.jenkov.com/">Jenkov</a></li>
                            <li><a href="http://www.wookmark.com/">Wookmark</a></li>
                            <li><a href="http://tympanus.net/codrops/">Tympanus.net</a></li>
                            <li><a href="http://www.uisdc.com/">Uisdc</a></li>
                            <li><a href="http://dailyjs.com/">Dailyjs</a></li>
                        </ul>
                    </div>
                    <div class="link-item">
                        <h4>Contact me</h4>
                        <ul>
                            <li><a href="https://www.facebook.com/jack.pu.56">Facebook</a></li>
                            <li><a href="https://github.com/JackPu">Github</a></li>
                            <li><a href="https://www.instagram.com/jack_pu/">Instagram</a></li>
                            <li><a href="http://weibo.com/1775984753">Weibo</a></li>
                        </ul>
                    </div>
                </div>
                <section class="copyright"></section>
                <section class="poweredby"><i class="ft-logo"></i> <a href="https://github.com/Vanthink-UED/ghost-theme" class="theme">vanthink-theme</a>   &copy; {{date format="YYYY"}}  Power By Ghost</section>   
            </div>
            
        </footer>

    </div>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "dist/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "dist/classie.js"}}"></script>
    <script type="text/javascript" src="{{asset "dist/sliderFx.js"}}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
    <script type="text/javascript" src="{{asset "dist/index.js"}}"></script>
    
</body>
</html>
