{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<main class="content" role="main">
    <header class="main-header post-head">
        <div class="cover js-post-cover" url="{{#if feature_image}}{{img_url feature_image}}{{/if}}" ></div>
        <div class="overlay"></div>
        <div class="post-meta js-post-meta">
            <h1 class="post-title">{{title}}</h1>
            <div class="meta-info">
                <svg class="icon icon-clock"><use xlink:href="#icon-clock"></use></svg>
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">  {{date format="YYYY-MM-DD"}}</time> |  <span class="js-read-time">{{reading_time}}</span>
            </div>
            <div class="tags" >
                <svg class="icon icon-ribbon"><use xlink:href="#icon-ribbon"></use></svg>
                {{tags prefix="" separator=" "}}
            </div>
        </div>
    </header>
    <div class="post-banner sm">
        <div class="wrap js-wrap-text"></div>
    </div>
    <article class="{{post_class}} js-article">
        <div class="meta-info">
            <svg class="icon icon-clock"><use xlink:href="#icon-clock"></use></svg>
            <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">  {{date format="YYYY-MM-DD"}}</time> |  <span class="js-read-time">{{reading_time}}</span>
        </div>
        <section class="post-content">
            {{content}}
        </section>
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <div style="margin-top:10px;" class="addthis_sharing_toolbox"></div>
        <!--disqus-->
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'jackpusjourney';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        <!--end disqus-->
    </article>
    <aside class="read-next">
        <div class="blur-bannar">
        </div>
        <div class="container">
            <h5 class="suggest-read-title">
            <svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg> 推荐阅读</h5>
            {{#get "posts" limit="8" filter="id:-{{id}}+tag:{{primary_tag.slug}}+feature_image:-null"}}
                {{#foreach posts}}
                    <a class="read-next-story "  href="{{url}}">
                        <div class="cover"  {{#if feature_image}} style="background-image: url({{img_url feature_image}})" {{/if}}>
                            <div class="post-tag">{{tags prefix="  "}}</div>
                        </div>
                        <section>
                            <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">  {{date format="YYYY-MM-DD"}}</time> 
                            <h5>{{title}}</h5>
                        </section>
                    </a>
                {{/foreach}}
            {{/get}}
        </div>
    </aside>
    <div class="social-sites">
        <div class="blur-circle sm">
            <svg width="150px" height="150px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <linearGradient id="gradient1" gradientTransform="rotate(35)">
                        <stop offset="0%"  stop-color="#ab7bf6" />
                        <stop offset="95%" stop-color="#7022ed" />
                    </linearGradient>
                    <filter id="f1" x="0" y="0">
                        <feGaussianBlur in="SourceGraphic" stdDeviation="2" />
                    </filter>
                </defs>
                <circle cx="50" fill="url(#gradient1)" filter="url(#f1)" cy="50" r="40"/>
            </svg>
        </div>
        <div class="blur-circle md">
            <svg width="180px" height="180px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <linearGradient id="gradient1" gradientTransform="rotate(35)">
                        <stop offset="0%"  stop-color="#ab7bf6" />
                        <stop offset="95%" stop-color="#7022ed" />
                    </linearGradient>
                    <filter id="f1">
                        <feGaussianBlur in="SourceGraphic" stdDeviation="1" />
                    </filter>
                </defs>
                <circle cx="50" fill="url(#gradient1)" filter="url(#f1)" cy="50" r="35"/>
            </svg>
        </div>
        <div class="blur-circle lg">
            <svg width="280px" height="280px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <linearGradient id="gradient2" gradientTransform="rotate(35)">
                        <stop offset="0%"  stop-color="#c471ed" />
                        <stop offset="95%" stop-color="#3F5EFB" />
                    </linearGradient>
                    <filter id="f3">
                        <feGaussianBlur in="SourceGraphic" stdDeviation="1" />
                    </filter>
                </defs>
                <circle cx="50" fill="url(#gradient2)" filter="url(#f3)" cy="50" r="45"/>
            </svg>
        </div>
        <div class="blur-circle sm">
            <svg width="120px" height="120px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <linearGradient id="gradient4">
                        <stop offset="5%" stop-color="#5573e3" />
                        <stop offset="95%"  stop-color="#7022ed" />
                    </linearGradient>
                    <filter id="f4" x="0" y="0">
                        <feGaussianBlur in="SourceGraphic2" stdDeviation="2" />
                    </filter>
                </defs>
                <circle cx="50" fill="url(#gradient4)" filter="url(#f4)" cy="50" r="35"/>
            </svg>
        </div>
        <div class="blur-circle sm">
            <svg width="100px" height="100px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                <circle cx="50" fill="url(#gradient1)" filter="url(#f1)" cy="50" r="40"/>
            </svg>
        </div>
        <div class="sns-icon-group">
            <a class="sns-icon fb" title="facebook" href="https://www.facebook.com/jack.pu.56">
                <i class="icon2 icon-fb"></i>
            </a>
            <a class="sns-icon gp" title="google plus" href="https://plus.google.com/+JackPu">
                <i class="icon2 icon-gp"></i>
            </a>
            <a class="sns-icon github" title="github" href="https://github.com/JackPu">
                <i class="icon2 icon-github"></i>
            </a>
            <a class="sns-icon ins" title="instagram" href="https://www.instagram.com/jack_pu/">
                <i class="icon2 icon-ins"></i>
            </a>
            <a class="sns-icon be" title="behance" href="https://www.behance.net/codeui">
                <i class="icon2 icon-be"></i>
            </a>
            <p class="quote">You Can Speak <strong>"Hi"</strong> to Me in Those Ways</p>
        </div>
    </div>
</main>



<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55d88bec2ab91030" async="async"></script>
{{/post}}
